:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

h1 {
    color: blue;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: space-around;
    max-width: 1800px;
    min-height: 125px;
    padding: 40px 180px;
    margin: 0 auto 100px;
    position: relative;
    
}

.main-nav {
    display: flex;
    justify-content: space-evenly;
    text-align: right;
    min-height: 45px;
    width: 60%;
}

.sign-in-sign-up {
    display: flex;
    align-items: center;
}

    .sign-in-sign-up > button {
        background-color: #d39410;
        border: none;
        border-radius: 20px;
        width: 100px;
        height: 54px;
        margin: 10px;
    }

figcaption {
    display: none;
}

footer {
    margin: auto;
    width: 90vw;
}

.bright {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    background-color: white;
}

.bright-pic {
    margin-top: 4em;
    width: 6vw;
    height: 6vw;
}

.bright-pic > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

p {
    margin-top: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
    font-weight: bold;
}

.who {
    color: gray;
    font-weight: 300;
    margin-top: 2em;
    font-size: 1.4rem;
}

.twitter {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 2vw;
    height: 2vw;
}

.twitter > img {
    width: 100%;
}

.dark {
    width: 90vw;
    background-color: #f9f9f9;
}

h2 {
    width: fit-content;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(75, 75, 75);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}


.icons > figure {
    width: 10vw;
    height: 10vw;
    margin-left: 2em;
    margin-right: 2em;
}

.icons > figure > img {
    width: 100%;
}