:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
}

h1 {
    color: blue;
    font-weight: 900;
}



/*GROUP_OPTION*/

.group-option{
    display:flex;
}

button{
    position:relative;
    top:100px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(43, 43, 43, 0.808);
    color:#ffffff;
    border:none;
    width:25%;
    height:350px;
    cursor: pointer;
    text-align: left;
    margin:0.1rem;
    padding:3.5rem;
    transition:all 0.1s ease-in-out;
    
}

button i{
    font-size: 4rem;
    margin:1.5rem;
    color:#ffbb00;
}

button h2{
    width:100%;
    font-size: 2.5rem;
    color:#ffffff;
}

button p{
    width:90%;
    font-size: 1.5rem;
    font-weight: 800;
    color:#ffffff;
    margin:1.5rem 0rem;
}

button a{
    text-decoration: none;
    border:2px solid #ffbb00;
    border-radius: 35px;
    padding:1rem;
    color:#ffbb00;
    width:50%;
    text-align: center;
    margin:3rem 0rem;
    font-size: 1.5rem;
    font-weight: 900;
}

button:hover{
    background:white;
    color:black;
    transform: scale(1.1);
    z-index:1; 
}

button:hover p{
    color:black;
}

button h2{
    color:black;
}